const appConfig = {
	url: "http://localhost",
	port: 3000,
	bcryptConfiguration: {
		saltRounds: 12,
	},
	sessionConfig: {
		secret: "secret",
		resave: false,
		saveUninitialized: true
	},
	rateLimitConfig: {
		windowMs: 15 * 60 * 1000,
		max: 10
	},
	userRecoveryConfig: {
		recoveryExpirationHours: 72
	}
}

module.exports = appConfig;