const appConfig = {
	url: "http://localhost",
	port: 3000,
	bcryptConfig: {
		saltRounds: 12,
	},
	jwtConfig: {
		secret: "secret",
		options: {
			algorithm: "HS256",
			expiresIn: "30m"
		}
	},
	rateLimitConfig: {
		windowMs: 15 * 60 * 1000,
		max: 10
	},
	userRecoveryConfig: {
		recoveryExpirationHours: 72
	}
}

module.exports = appConfig;