module.exports = {
    mysqlConfig: {
        host: "",
        user: "",
        password: "",
        database: ""
    },
    mongodbConfig: {
        url: "mongodb://localhost:27017,localhost:27017",
        databaseName: "library" 
    }
}