<%- include("../partials/head", { title: "eLibrary | Login" }); %>
<%- include("../partials/header"); %>

<div id="loginCard" class="card">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">
        <form id="loginForm">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your information with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="text-center">
                Not registered? <a href="/signup">Create an account</a>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="card-footer text-center">
        <a href="/forgot">Forgot password?</a>
    </div>
</div>

<%- include("../partials/footer", { scripts: ["./js/authService.js"] }); %>

<script>
    $(document).ready(() => {
        
        //prevent login form from refreshing
        $("#loginForm").submit(e => {
            e.preventDefault();
        });

    });
</script>

<%- include("../partials/bottom"); %>